{% extends base_template %}
{% block content %}

<span id="notification"></span>
<div id="tabstrip">
  <!-- Tab Headers -->
  <ul>
    <li class="k-active">Client</li>
    <li>Address</li>
    <li>Upload</li>
    <li>Messages</li>
  </ul>

  <!-- Tab Contents -->
  <div>
    <form id="clientDetailForm"></form>
  </div>
  <div>
    <form id="addressForm"></form>
  </div>
  <div>
    <form id="clientUploadForm">
      <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">Upload</legend>
        <input name="files" id="files" type="file" aria-label="files" />
        <p style="padding-top: 1em; text-align: right"></p>
      </fieldset>
    </form>
    <div id="file-list"></div>
  </div>
  <div>
    <div id="messages"></div>
    <form id="messages_form"></form>
  </div>
</div>

<script>
/* 
  // Ready function to initialize the page
  $(document).ready(function () {
    initializePage();
  });

  function initializePage() {
    var tabStrip = generateTabs();
  }
  // Submit the message to the server
  function submitMessage(formData) {
    console.log("submitMessage formData: ", formData);
    var url = "{% url 'crm:client_messages_create_view' client.id %}";
    return new Promise((resolve, reject) => {
      $.post(url, formData, function (data) {
        if (data.error) {
          reject(data.error);
        } else {
          console.log(data.success);
          resolve(data);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        reject(responseBody.error);
      });
    });
  }

  function populateReceiverDropdown(users) {
    const receiverDropdown = $("#receiver").data("kendoDropDownList");
    receiverDropdown.setDataSource(users);
    receiverDropdown.setOptions({
      dataTextField: "username",
      dataValueField: "id"
    });
  }

  function fetchUsers() {
    $.ajax({
      url: "{% url 'users:get_users' %}",
      method: 'GET',
      dataType: 'json',
      success: function(users) {
        populateReceiverDropdown(users);
      },
      error: function(error) {
        console.log('Error fetching users:', error);
      }
    });
  }

  function initializeDetailGrid(replies, detailCell) {
    $("<div/>").appendTo(detailCell).kendoGrid({
      dataSource: {
        data: replies,
        pageSize: 10
      },
      columns: [
        { field: "id", title: "ID", width: "110px" },
        { field: "text", title: "Reply Text" },
        { field: "replier", title: "Replier" },
        { field: "created_at", title: "Created At" },
        { field: "updated_at", title: "Updated At" },
      ],
      detailInit: function(subE) {
        var subReplies = subE.data.replies;
        initializeDetailGrid(subReplies, subE.detailCell);
      }
    });
  }
  

  // Retrieve the messages and generate the grid
  function retrieveMessagesAndGenerateGrid() {
    console.log("retrieveMessagesAndGenerateGrid");
    
    var messages = $("#messages").kendoGrid({
      dataSource: {
        transport: {
          read: {
            url: "{% url 'crm:client_messages_list_view' client.id %}",
            dataType: "json"
          }
        },
        schema: {
          total: "pagination.count",
          data: "data",
          model: {
            fields: {
              id: { type: "number" },
              sender: { type: "string" },
              subject: { type: "string" },
              text: { type: "string" },
              status: { type: "string" }
            }
          }
        },
        pageSize: 5,
        serverPaging: true,
        serverFiltering: true,
        serverSorting: false
      },
      sortable: true,
      pageable: {
        refresh: true,
        pageSizes: true,
        buttonCount: 5,
      },
      filterable: {
        mode: "row"
      },
      columns: [
        {
          field: "id",
          title: "ID",
          width: 10,
          filterable: false,
        },
        {
          field: "sender", title: "Sender", width: 110, filterable: {
            cell: {
              operator: "contains",
              suggestionOperator: "contains"
            }
          }
        },
        {
          field: "subject", title: "Subject", width: 110, filterable: {
            cell: {
              operator: "contains",
              suggestionOperator: "contains"
            }
          }
        },
        { field: "text", title: "Message", width: 200, filterable: {
            cell: {
              operator: "contains",
              suggestionOperator: "contains"
            }
          }
        },
        { field: "status", title: "Status", width: 20, filterable: {
            cell: {
              operator: "contains",
              suggestionOperator: "contains"
            }
          } 
        }
      ],
      dataBound: function(e) {
        var grid = e.sender;
        grid.tbody.find("tr").on("click", function() {
          var dataItem = grid.dataItem(this);
          console.log("Clicked Data Item:", dataItem);  // Debugging line

          if (dataItem && dataItem.replies) {
            console.log("dataItem.replies:", dataItem.replies);
            initializeDetailGrid(dataItem.replies);
          }
        });
      },
      detailInit: function(e) {
        var replies = e.data.replies;
        initializeDetailGrid(replies, e.detailCell);
      },
      

      toolbar: [{
        type: "button",
        text: "ADD Message",
        click: function (e) {
          console.log("Button Click");
          $("#messages_form").replaceWith('<form id="messages_form"></form>');
          var messages_form = createMessageForm();
        }
      },]
      //toolbar: "<button id='messageAdd' class='k-button' onclick='createMessageForm()'>ADD</button>"
    }).data("kendoGrid");
    return messages;
  }

  // Create the message form
  function createMessageForm() {
    console.log("createMessageForm");
    $("#messages").hide();
    fetchUsers();
    var form = $("#messages_form").kendoForm({
      orientation: "vertical",
      formData: {
        sender: '{{ request.user.email  }}',
        receiver: "",
        subject: "",
        text: "",
        project: "qimob",
        app: "crm",
        model: "Client",
      },
      items: [{
        type: "group",
        label: "Message Form",
        items: [
          { field: "sender", label: "Sender:", validation: { required: true, email: true }, editorOptions: { readonly: true } },
          { field: "receiver", label: "Receiver:", validation: { required: true, dataSource: [] }, editor: "DropDownList" },
          { field: "subject", label: "Subject:", validation: { required: true } },
          { field: "text", label: "Message:", editor: "TextArea", validation: { required: true } },
          { field: "project", editor: "hidden" },
          { field: "app", editor: "hidden" },
          { field: "model", editor: "hidden" },
        ]
      }],
      submit: function (e) {
        console.log("Submit");
        e.preventDefault();
        var formElement = e.sender.element;
        var formData = formElement.serialize() + "&client_id={{ client.pk }}" + "&csrfmiddlewaretoken={{ csrf_token }}";
        submitMessage(formData).then(data => {
          removeDivElements('messages_form')
          removeDivElements('messages')
          retrieveMessagesAndGenerateGrid();
        }).catch(error => {
          console.log("Error: ", error);
        });
      },
      clear: function (ev) {
        console.log("Clear");
        $("#messages").show();
        $("#messages_form").replaceWith('<form id="messages_form"></form>');
      }
    }).data("kendoForm");

  }

  // Remove Form Elements
  function removeFormElements(element) {
    $(`#${element}`).replaceWith(`<form id="${element}"></form>`);
  }

  // Remove Div Elements
  function removeDivElements(element) {
    $(`#${element}`).replaceWith(`<div id="${element}"></div>`);
  }

  // Generate Tabs
  function generateTabs() {
    var onActivate = function (e) {
      if (e.item.innerText === 'Client') {
        tabStrip.unbind("activate", onActivate);
        removeFormElements('clientDetailForm')
        var client_form = generateClientForm();
      }
      else if (e.item.innerText === 'Upload') {
        tabStrip.unbind("activate", onActivate);
        removeFormElements('clientUploadForm')
        var upload_form = generateUploadForm();
      }
      else if (e.item.innerText === 'Address') {
        tabStrip.unbind("activate", onActivate);
        removeFormElements('addressForm')
        retrieveClientAddressData().then(data => {
          form2 = generateAddressForm("update");
          console.log("retrieveClientAddressData data: ", data);
          injectAddressData(form2, data);
          $("#addressForm").show();

        }).catch(error => {
          kendo.ui.progress($("#addressForm"), false);
          console.log("Error: ", error);
          form2 = generateAddressForm("create");
          $("#addressForm").show();

        });

      }
      else if (e.item.innerText === 'Messages') {
        tabStrip.unbind("activate", onActivate);
        removeDivElements('messages_form')
        removeDivElements('messages')
        var messages_form = retrieveMessagesAndGenerateGrid();
      }
    }

    var tabStrip = $("#tabstrip").kendoTabStrip({
      animation: {
        open: {
          effects: "fadeIn"
        }
      },
      activate: onActivate,
    });

    // Create the client form
    client_form = generateClientForm();

    return tabStrip;
  }

  // Generate the upload form
  function generateUploadForm() {
    function onSuccess(e) {
      if (e.operation == "upload") {
        file_list = fileList()
          .then(result => {
            console.log("result: ", result);
            $("#file-list").show();
          })
          .catch(error => {
            console.log("Error: ", error);
          });
        setTimeout(function () {
          $("#files").data("kendoUpload").clearAllFiles();
        }, 2000);
      }
    }

    var formHtml = `
      <fieldset class="k-form-fieldset ">
        <legend class="k-form-legend">Upload</legend>
          <input name="files" id="files" type="file" aria-label="files" />
          <p style="padding-top: 1em; text-align: right"></p>
      </fieldset>`;

    $("#clientUploadForm").html(formHtml);

    var upload_form = $("#files").kendoUpload({
      orientation: "horizontal",
      async: {
        saveUrl: "{% url 'crm:client_docs_upload_view_json' pk=client.pk %}",
      },
      upload: function (e) {
        e.data = { csrfmiddlewaretoken: '{{ csrf_token }}' };
      },
      success: onSuccess
    }).data("kendoUpload");

    return upload_form;
  } */





  // Update the client address data in the server
  function updateClientAddressData(formData, token) {
    var url = "{% url 'crm:client_address_update_json_view' %}";

    return new Promise((resolve, reject) => {
      $.post(url, formData, function (data) {
        if (data.error) {
          reject(data.error);
        } else {
          console.log(data.success);
          resolve(data);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        reject(responseBody.error);
      });
    });
  }




/* 

  // Update the client data in the server
  function updateClientData(formData) {
    return new Promise((resolve, reject) => {
      $.post("{% url 'crm:client_update_view_json' client.id %}", formData, function (data) {
        console.log("data: ", data);
        if (data.error) {
          console.log("Error: ", data.error);
          reject(data.error);
        } else {
          console.log("data: ", data);
          resolve(data);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        reject(responseBody.error);
      });
    });
  }

  // Retrieve the client address data from the server
  function retrieveClientAddressData() {
    return new Promise((resolve, reject) => {
      $.get("{% url 'crm:client_address_view' client.id %}", function (data) {
        console.log("data: ", data);
        if (data.error) {
          console.log("Error: ", data.error);
          reject(data.error);
        } else {
          resolve(data);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        reject(responseBody.error);
      });
    });
  }

  // Create the client address data in the server
  function createClientAddress(formData) {
    return new Promise((resolve, reject) => {
      $.post("{% url 'crm:client_address_create_view' %}", formData, function (data) {
        if (data.error) {
          reject(data.error);
        } else {
          console.log("Token: ", data);
          resolve(true);
        }
      });
    });
  }

  // Retrieve the client data from the server
  function retrieveClientData(form, formData) {
    return new Promise((resolve, reject) => {
      $.get("{% url 'crm:client_detail_json_view' client.id %}", formData, function (data) {
        if (data.error) {
          reject(data.error);
        } else {
          var newOptions = {
            ...form.options,
            formData: {
              ...form.options.formData,
              name: data["client"]["name"],
              email_address: data["client"]["email_address"],
              phone_number: data["client"]["phone_number"],
            }
          };
          form.setOptions(newOptions);
          resolve(data);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        reject(errorThrown);
      });
    });
  }

  // Find a field in the form items
  function findField(items, fieldName) {
    for (var i = 0; i < items.length; i++) {
      if (items[i].field === fieldName) {
        return items[i];
      }
      if (items[i].items) {
        var found = findField(items[i].items, fieldName);
        if (found) return found;
      }
    }
    return null;
  }

  // Handle the server validation errors
  function handleServerValidation(formId, error) {
    console.log("handleServerValidation", error);
    for (var fieldName in error) {
      if (error.hasOwnProperty(fieldName)) {

        var errorMessage = error[fieldName][0];

        var parentElement = $("#" + fieldName + "-form-label").parent().find(".k-form-field-wrap");
        var errorMessageContainer = parentElement.find("#" + fieldName + "-form-error");

        if (errorMessageContainer.length === 0) {
          errorMessageContainer = $("<span class='k-form-error k-invalid-msg' id='" + fieldName + "-form-error' data-for='" + fieldName + "'></span>");
          parentElement.append(errorMessageContainer);
        }

        errorMessageContainer.html("<div>" + errorMessage + "</div>");

        errorMessageContainer.removeClass("k-hidden");

        $("#" + fieldName).parent().addClass("k-invalid");

        parentElement.parent().addClass("k-form-field-error");

      }
    }
  } */

  // Request to the server to retrieve the address by postal code
  function retrieveAddressByPostalCode(form, formData) {
    return new Promise((resolve, reject) => {
      $.post("{% url 'address:postal_code_json' %}", formData, function (data) {
        if (data.error) {
          reject(data.error);
        }
        else {
          var streets = data.ART_TIPO_ART_DESIG;
          var newOptions = {
            ...form.options,
            formData: {
              ...form.options.formData,
              postal_code: data.CP4 + "-" + data.CP3,
              cp4: data.CP4,
              cp3: data.CP3,
              district: data.DD__DESIG,
              county: data.CC__DESIG,
              locality: data.LOCALIDADE,
              street: "",
              number: "",
              more_info: ""
            }
          };
          var streetField = findField(newOptions.items, 'street');
          if (streetField && streetField.editorOptions) {
            streetField.editorOptions.dataSource = streets;
          }
          form.setOptions(newOptions);
          resolve(data.success);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        console.log("Error: ", responseBody.error);
        reject(responseBody.error);
      });
    });
  }






  // Inject the address data into the form
  function injectAddressData(form, data) {
    console.log("injectAddressData", form.options.formData);
    console.log("injectAddressData", data);
    var newOptions = {
      ...form.options,
      formData: {
        ...form.options.formData,
        id: data["address"][0]["id"],
        token: data["address"][0]["token"],
        cp3: data["address"][0]["cp3"],
        cp4: data["address"][0]["cp4"],
        postal_code: data["address"][0]["postal_code"],
        district: data["address"][0]["district"],
        county: data["address"][0]["county"],
        locality: data["address"][0]["locality"],
        street: data["address"][0]["street"],
        number: data["address"][0]["number"],
        more_info: data["address"][0]["more_info"],
      }
    };
    form.setOptions(newOptions);
  }






/*   
  // Generate the address form
  function generateAddressForm(action) {
    var notificationWidget = $("#notification").kendoNotification().data("kendoNotification");
    form = $("#addressForm").kendoForm({
      orientation: "horizontal",
      formData: {
        id: "",
        token: "",
        postal_code: "",
        district: "",
        county: "",
        locality: "",
        street: "",
        number: "",
        more_info: "",
      },
      items: [
        {
          type: "group",
          label: "Address",
          items: [
            {
              field: "postal_code",
              label: "Postal Code",
              validation: { required: true },
              editor: "MaskedTextBox",
              editorOptions: {
                mask: "0000-000",
                change: function (e) {
                  var postal_code = e.sender.value();
                  var [cp4, cp3] = postal_code.split('-');
                  var formData = {
                    cp4: cp4,
                    cp3: cp3,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                  };
                  var formElement = $("#addressForm");
                  var form = $("#addressForm").data("kendoForm");

                  retrieveAddressByPostalCode(form, formData)
                    .then(result => {
                      notificationWidget.show(result[0], "success");
                      console.log("Result: ", result);
                    })
                    .catch(error => {
                      notificationWidget.show(error.postal_code[0], "warning");
                      handleServerValidation("#addressForm", error);

                      setTimeout(function () {
                        form.clear();
                      }, 2000);

                      var streetComboBox = form.element.find('[name="street"]').data("kendoComboBox");
                      streetComboBox.value("");
                      streetComboBox.setDataSource([]);
                    });
                }
              }
            },
            { field: "district", label: "District", editor: "TextBox", editorOptions: { readonly: true } },
            { field: "county", label: "County", editor: "TextBox", editorOptions: { readonly: true } },
            { field: "locality", label: "Locality", editor: "TextBox", editorOptions: { readonly: true } },
            { field: "street", label: "Street", validation: { required: true }, editor: "ComboBox", editorOptions: { filter: "contains", placeholder: "Select street...", separator: ", " } },
            { field: "number", label: "Number", validation: { required: true }, editor: "TextBox" },
            { field: "more_info", label: "More Info", editor: "TextArea" },
            { field: "id", editor: "hidden" },
            { field: "token", editor: "hidden" },
            { field: "cp4", editor: "hidden" },
            { field: "cp3", editor: "hidden" },
          ]
        },
      ],
      submit: function (e) {
        e.preventDefault();
        var formElement = e.sender.element;
        var formData = formElement.serialize() + "&client_id={{ client.pk }}" + "&csrfmiddlewaretoken={{ csrf_token }}";
        console.log("Generate Address Form formData: ", formData);
        if (action == "create") {
          createClientAddress(formData)
            .then(result => {
              console.log("result: ", result);
              notificationWidget.show("Address created", "success");
            })
            .catch(error => {
              notificationWidget.show(error, "error");

            });
        }
        else if (action == "update") {
          updateClientAddressData(formData)
            .then(result => {
              console.log("result: ", result);
              notificationWidget.show("Address updated", "success");
            })
            .catch(error => {
              notificationWidget.show(error, "error");

            });
        }
      },
      clear: function (e) {
        var formElement = e.sender.element;
        var form = formElement.data("kendoForm");
        var streetComboBox = form.element.find('[name="street"]').data("kendoComboBox");
        streetComboBox.value("");
        streetComboBox.setDataSource([]);
      }
    }).hide().data("kendoForm");
    return form;
  }

  // Generate the client form
  function generateClientForm() {
    var notificationWidget = $("#notification").kendoNotification().data("kendoNotification");
    var form = $("#clientDetailForm").kendoForm({
      orientation: "horizontal",
      formData: {
        name: "",
        email_address: "",
        phone_number: "",
      },
      buttonsTemplate: "<div id='submitButtonClient' class='k-form-buttons k-buttons-end'><button class='k-form-submit k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary' data-role='button' type='submit' role='button' aria-disabled='false' tabindex='0'><span class='k-button-text'>Submit</span></button><button class='k-form-clear k-button k-button-md k-rounded-md k-button-solid k-button-solid-base' data-role='button' type='button' role='button' aria-disabled='false' tabindex='0'><span class='k-button-text'>Clear</span></button></div>",
      items: [
        {
          type: "group",
          label: "Client",
          items: [
            {
              field: "checkboxUpload",
              label: "Upload",
              editor: "CheckBox",
              editorOptions: {
                checked: false,
                change: function () {
                  if (this.value()) {
                    console.log("Upload Checked: ", this.value());
                    upload_form = generateUploadForm();
                    file_list = fileList()
                      .then(result => {
                        console.log("result: ", result);
                        $("#file-list").show();
                      })
                      .catch(error => {
                        console.log("Error: ", error);
                      });
                  }
                  else {
                    $("#clientUploadForm").replaceWith('<form id="clientUploadForm" style="width: 100%;" class="k-form k-form-md k-form-horizontal"></form>');
                    var dropdownlist = $("#file-list").data("kendoDropDownList");
                    dropdownlist.destroy();
                    dropdownlist.wrapper.remove();
                    $(".content-section").append('<div id="file-list"></div>');
                  }
                }
              }
            },
            { field: "name", label: "Name", validation: { required: true } },
            { field: "email_address", label: "Email Address", validation: { required: true, email: true } },
            {
              field: "phone_number",
              label: "Phone Number",
              validation: { required: true },
              editor: function (container, options) {
                $('<input type="phone_number" id="PhoneNumber" name="' + options.field + '" title="PhoneNumber" required="required" autocomplete="off" />')
                  .appendTo(container)
                  .kendoMaskedTextBox({
                    mask: "+351 000 000 000"
                  });

              },
            },
          ],
        },
      ],
      submit: function (e) {
        console.log("Submit");
        e.preventDefault();
        var formElement = e.sender.element;
        var formData1 = e.sender.element.serialize() + "&csrfmiddlewaretoken={{ csrf_token }}";

        updateClientData(formData1)
          .then(result => {
            console.log("result: ", result);
            notificationWidget.show("Client updated", "success");
          })
          .catch(error => {
            console.log("Error: ", error);
            handleServerValidation("#clientCreateForm", error);
          });
      },
    }).data("kendoForm");
    // Retrieve the client data
    var formData = form.element.serialize() + "&csrfmiddlewaretokenf={{ csrf_token }}";
    retrieveClientData(form, formData)
      .catch(error => {
        console.log("retrieveClientData Error: ", error);
        notificationWidget.show("Client not found", "warning");
        setTimeout(function () {
          window.history.back();
        }, 5000);
      });
    return form;
  }

  // File List
  function fileList() {
    var url = "{% url 'crm:client_docs_list_view_json' pk=client.pk %}"

    return new Promise((resolve, reject) => {
      $.get(url, function (response) {
        if (response.error) {
          reject(response.error);
        }

        var file_list = $("#file-list").kendoDropDownList({
          filter: "contains",
          optionLabel: 'Please select an file...',
          dataTextField: "name",
          dataValueField: "id",
          dataSource: response,
          select: function (e) {
            console.log("select: ", e);
            var url = window.location.origin + e.dataItem.path;
            window.open(url, '_blank');
          },
          index: 0
        }).data("kendoDropDownList");
        resolve(file_list);
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        console.log("Error: ", responseBody.error);
        reject(responseBody.error);
      });
    });
  }

   */
 

</script>

{% endblock %}