{% extends base_template %}
{% block content %}

<span style="display: flex; "><h2 class="listtitle">Client List</h2><a href="{% url 'crm:client_create_view' %}" class="btn btn-primary mb-3">Add Client</a> 
    <button class="btn btn-primary mb-3">Filters</button>
    <button class="btn btn-primary mb-3">Order By</button></span>

<div id="cliente-list" class="viewlist">
    
        
        <!--<a href="{% url 'crm:client_create_view' %}" hx-get="{% url 'crm:client_create_view' %}" hx-target="#cliente-list"
            hx-swap="outerHTML" class="btn btn-primary mb-3">Add Client</a>-->
        
       
        {% for client in clients %}
            <div class="card">
                <div class="cardcontent">
                  <a href="{% url 'crm:client_detail_view' client.id %}"><h4><b>{{ client.name }}</b></h4></a>
                    <div class="cardtable">
                        <p>{{ client.phone_number }}</p>
                        <p>{{ client.email_address }}</p>
                        <p>{{ client.nif }}</p>
                        {% if address_data %}
                            <p>{{ address_data.postal_code }}</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
