{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}


  {% include '_alert.html' %}
  <h1>Client Update</h5>

    <div class="formview">
    <div class="createforms">
     
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
       
            <button type="submit" class="btn btn-primary" id="btn">Submit</button>
            <a class="btn btn-secondary"  href="#" onclick="history.back(); return false;">{% trans "Cancel" %}</a>
            <button class="btn btn-primary" type="button" id="validate">{% trans "Validate" %}</button> 
  
        </form>
     
    </div>
    </div>

<script>  
$(document).ready(function(){
    
    $('#validate').click(function(){
        var postalCodePart1 = $('#id_postal_code1').val();
        var postalCodePart2 = $('#id_postal_code2').val();
        var postalCode = postalCodePart1 + postalCodePart2; 
        if(postalCode){
            $.ajax({
                url: '/crm/get_address_info/',  
                type: 'GET',
                data: {
                    'postal_code': postalCode,
                    'code1': postalCodePart1,
                    'code2': postalCodePart2
                },
                success: function(data){

                    $('#id_district').val(data.district);
                    $('#id_county').val(data.county);

                    $('#id_locality').empty();
                    for (var i = 0; i < data.localitys.length; i++) {
                        var locality = data.localitys[i].locality;
                        $('#id_locality').append('<option value="' + locality + '">' + locality + '</option>');
                    }

                    $('#id_street').empty();
                    for (var i = 0; i < data.streets.length; i++) {
                        var street = data.streets[i].street;
                        $('#id_street').append('<option value="' + street + '">' + street + '</option>');
                    }
                }
            });
        }
    });
});
</script>

{% endblock %}