{% extends base_template %}
{% block content %}


<h2 class="listtitle">Lista Clientes</h2>
<div><a href="{% url 'crm:client_create_view' %}" class="btn btn-primary mb-3">Adicionar Cliente</a> 
    <button class="btn btn-primary mb-3">Filtros</button>
    <button class="btn btn-primary mb-3">Ordenar</button>
</div>

<div id="cliente-list" class="viewlist">
         
            {% for token in tokens %}
                {% for client in clients %}
                    {% if client == token.1 %}
                        <div class="card">
                            <div class="cardcontent">
                                <a href="{% url 'crm:client_detail_view' client.id %}">
                                    <h4><b>{{ client.name }}</b></h4>
                                </a>
                                <div class="cardtable">
                                    <p>{{ client.phone_number }}</p>
                                    <p>{{ client.email_address }}</p>
                                    <p>{{ client.nif }}</p>
                                    {% for client_address in addresses %}
                                        {% if client_address.2 == token.0 %}
                                            <p>{{ client_address.0 }} {{ client_address.1 }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

    

    <!-- Pagination -->
    
</div>
{% include '_pagination.html' %}

{% endblock %}
