{% extends base_template %}
{% block content %}
<form id="clientCreateForm"></form>
<form id="addressForm"></form>

<script>

  // Request to the server to create a new client
  function postClientData(formData) {
    return new Promise((resolve, reject) => {
      $.post("{% url 'crm:client_create_view' %}", formData, function (data) {
        console.log(data);
        if (data.error) {
          reject(data.error);
        } else {
          console.log("client_id: ", data);
          resolve(data);
        }
      });
    });
  }

  // Request to the server to create a new address for a client
  function postAddressData(formData) {
    return new Promise((resolve, reject) => {
      $.post("{% url 'crm:client_address_create_view' %}", formData, function (data) {
        if (data.error) {
          reject(data.error);
        } else {
          console.log("Token: ", data);
          resolve(true);
        }
      });
    });
  }

  // Request to the server to retrieve the address by postal code
  function retrieveAddressByPostalCode(form, formData) {
    return new Promise((resolve, reject) => {
      $.post("{% url 'address:postal_code_json' %}", formData, function (data) {
        if (data.error) {
          reject(data.error);
        } else {
          var streets = data.ART_TIPO_ART_DESIG;
          var newOptions = {
            ...form.options,
            formData: {
              ...form.options.formData,
              postal_code: data.CP4 + "-" + data.CP3,
              cp4: data.CP4,
              cp3: data.CP3,
              district: data.DD__DESIG,
              county: data.CC__DESIG,
              locality: data.LOCALIDADE,
              street: "",
              number: "",
              more_info: ""
            }
          };

          var streetField = findField(newOptions.items, 'street');
          if (streetField && streetField.editorOptions) {
            streetField.editorOptions.dataSource = streets;
          }
          form.setOptions(newOptions);
          resolve(data.success);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        var responseBody = JSON.parse(jqXHR.responseText);
        console.log("Error: ", responseBody.error);
        reject(responseBody.error);
      });
    });
  }

  // Find a field in the form items
  function findField(items, fieldName) {
    for (var i = 0; i < items.length; i++) {
      if (items[i].field === fieldName) {
        return items[i];
      }
      if (items[i].items) {
        var found = findField(items[i].items, fieldName);
        if (found) return found;
      }
    }
    return null;
  }

  // Handle the server validation and insert the error message
  function handleServerValidation(formId, fieldName, error) {
    var validator = $(formId).kendoValidator().data("kendoValidator");
    var parentElement = $("#" + fieldName + "-form-label").parent().find(".k-form-field-wrap");
    var errorMessageContainer = parentElement.find("#" + fieldName + "-form-error");

    if (errorMessageContainer.length === 0) {

      errorMessageContainer = $("<span class='k-form-error k-invalid-msg' id='" + fieldName + "-form-error' data-for='" + fieldName + "'></span>");

      parentElement.append(errorMessageContainer);
    }

    errorMessageContainer.html("<div>" + error + "</div>");

    errorMessageContainer.removeClass("k-hidden");

    $("#" + fieldName).parent().addClass("k-invalid");

    parentElement.parent().addClass("k-form-field-error");

    validator.validateInput(errorMessageContainer);
  }

  // Main function
  $(document).ready(function () {

    var client_id = null;

    // Create the client form using kendoForm
    $("#clientCreateForm").kendoForm({
      orientation: "vertical",
      formData: {
        name: "",
        email_address: "",
        phone_number: "",
      },
      items: [
        { field: "name", label: "Name", validation: { required: true } },
        { field: "email_address", label: "Email Address", validation: { required: true, email: true } },
        {
          field: "phone_number",
          label: "Phone Number",
          validation: { required: true },
          editor: function (container, options) {
            $('<input type="phone_number" id="PhoneNumber" name="' + options.field + '" title="PhoneNumber" required="required" autocomplete="off" />')
              .appendTo(container)
              .kendoMaskedTextBox({
                mask: "+351 000 000 000"
              });

          },
        },
      ],
      submit: function (e) {
        e.preventDefault();
        var formElement = e.sender.element;
        var formData = formElement.serialize() + "&csrfmiddlewaretoken={{ csrf_token }}";
        postClientData(formData)
          .then(result => {
            console.log("Result: ", result);
            client_id = result;
          })
          .catch(error => {
            handleServerValidation("#clientCreateForm", "name", error);
          });
        $("#addressForm").show();
        $("#clientCreateForm").hide();
      },
    });

    // Create the address form using kendoForm
    $("#addressForm").kendoForm({
      orientation: "vertical",
      formData: {
        postal_code: ""
      },
      items: [
        {
          type: "group",
          label: "Address",
          items: [
            {
              field: "postal_code",
              label: "Postal Code",
              validation: { required: true },
              editor: "MaskedTextBox",
              editorOptions: {
                mask: "0000-000",
                change: function (e) {
                  var postal_code = e.sender.value();
                  var [cp4, cp3] = postal_code.split('-');
                  var formData = {
                    cp4: cp4,
                    cp3: cp3,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                  };
                  var formElement = $("#addressForm");
                  var form = $("#addressForm").data("kendoForm");

                  retrieveAddressByPostalCode(form, formData)
                    .then(result => {
                      notificationWidget.show(result[0], "success");
                      console.log("Result: ", result);
                    })
                    .catch(error => {
                      notificationWidget.show(error.postal_code[0], "warning");
                      handleServerValidation("#addressForm", error);

                      setTimeout(function () {
                        form.clear();
                      }, 2000);

                      var streetComboBox = form.element.find('[name="street"]').data("kendoComboBox");
                      streetComboBox.value("");
                      streetComboBox.setDataSource([]);
                    });
                }
              }
            },
            { field: "district", label: "District", editor: "TextBox", editorOptions: { readonly: true } },
            { field: "county", label: "County", editor: "TextBox", editorOptions: { readonly: true } },
            { field: "locality", label: "Locality", editor: "TextBox", editorOptions: { readonly: true } },
            { field: "street", label: "Street", validation: { required: true }, editor: "ComboBox", editorOptions: { filter: "contains", placeholder: "Select street...", separator: ", " } },
            { field: "number", label: "Number", validation: { required: true }, editor: "TextBox" },
            { field: "more_info", label: "More Info", editor: "TextArea" },
          ]
        },
      ],
      submit: function (e) {
        e.preventDefault();
        var formElement = e.sender.element;
        var postal_code = formElement.find('[name="postal_code"]').val();
        var [cp4, cp3] = postal_code.split('-');
        var formData = formElement.serialize() + "&cp4=" + cp4 + "&cp3=" + cp3 + "&csrfmiddlewaretoken={{ csrf_token }}";
        formData += "&client_id=" + client_id;
        postAddressData(formData)
          .then(result => {
            console.log("Result: ", result);
            // ToDo: redirect to the client detail view
          })
          .catch(error => {
            handleServerValidation("#addressForm", "street", error);
          });
      },
      clear: function (e) {
        var formElement = e.sender.element;
        var form = formElement.data("kendoForm");
        var streetComboBox = form.element.find('[name="street"]').data("kendoComboBox");
        streetComboBox.value("");
        streetComboBox.setDataSource([]);
      }
    }).hide();

    $(`<button id="skipButton">SKIP</button>`).appendTo("#addressForm");

    function redirectToClientDetailView() {
      var formData = "client_id=" + client_id + "&csrfmiddlewaretoken={{ csrf_token }}";
      return new Promise((resolve, reject) => {
        $.get("{% url 'crm:client_detail_view' %}", formData, function (data) {
          if (data.error) {
            reject(data.error);
          } else {
            console.log("Token: ", data);
            
            resolve(true);
          }
        });
      });
    }

    $("#skipButton").click(function() {
      window.location.href = "{% url 'crm:client_detail_view' %}" + client_id;
    });
    
  });

</script>
{% endblock %}