{% extends base_template %}
{% block content %}

<h2 class="listtitle">Lista Leads</h2>

<div class="button_tab">
    <a href="{% url 'crm:lead_create_view' %}" class="btn btn-primary ">Adicionar Lead</a> 
        <button class="btn btn-primary ">Filtros</button>
        <button class="btn btn-primary "><a href="{% url 'crm:lead_list_view' %}?order_by=created_at">Order by Created At</a></button>
    <div class="filterform">
        <form method="GET">
            <input type="text" name="q" id="q" class="searchbar" placeholder="Procurar.." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </div>
    

    <div class="filterform">
        <form method="get" >
            {{ lead_filter.form.as_p }}
            <button type="submit">Apply</button>
        </form>

    </div>
      
</div>



<div id="cliente-list" class="viewlist">

{% for lead in leads %}
    <div class="card">
        <div class="cardcontent">
          <a href="{% url 'crm:lead_detail_view' lead.lead.id %}"><h4><b>{{ lead.lead.short_name }}</b> - <b>{{ lead.lead.leadtype }}</b></h4></a>
            <div class="cardtable">
                <p>{{ lead.lead.district.DESIG }}</p>
                <p>{{ lead.lead.county.DESIG }}</p>
                <p>{{ lead.lead.locality.LOCALIDADE}}</p>
                <p>{{ lead.lead.client }}</p>
                <p>{{ lead.lead.owner }}</p>
                <p>{{ lead.lead.created_at }}</p>
                <b><p>{{ lead.status }}</p></b> 

            </div>
        </div>
    </div>
{% endfor %}
        
       
    

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
