{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


<span id="notification"></span>
<h2 class="listtitle">{{ object.short_name}} - {{ current_status.status.name }}</h2>

{% if sharelist %}
  {% for share in sharelist %}
    {% if share.user == user and share.can_read and not share.can_write %}
      <div class="tab" style="display: none; margin-right: 20px;">
      
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

  {% if user == object.owner or user.role.role_name == 'admin' %}
      <div class="tab" style="display: flex; margin-right: 20px;">
        <form method="post" style='padding:0px'>
          {% csrf_token %}
          <a href="{% url 'crm:lead_update_view' lead.id %}" class="btn btn-primary mb-3">{% trans "Update" %}</a>
          <a href="#" class="btn btn-primary mb-3">{% trans "Logs" %}</a>
          <button class="btn btn-primary mb-3">{% trans "Checklist" %}</button>
          <span class="btn btn-primary mb-3" id="sharebutton" onclick="pop()">{% trans "Share" %}</span> 

          {% if buttons_config %}
            {% for button in buttons_config %}
              <a href="{% url 'crm:lead_next_status' lead.id button.status_code.code %}" class="btn btn-primary mb-3">{{ button.label }}</a>
            {% endfor %}
          {% endif %}

        </form>
      </div>
  {% endif %}

  
  



<div class="detailsview">
    
    
    <button class="collapsible"><h3>{% trans "Lead Data" %}</h3></button>
    <div class="content">
      <p><b class="title">License:</b> {{ object.license.customer_name}}</p>
      <p><b class="title">Owner:</b> {{ object.owner.username}}</p>
      <p><b class="title">Type:</b> {{ object.leadtype }}</p>
      <p><b class="title">Short description:</b> {{ object.short_desc }}</p>
      <p><b class="title">Description:</b> {{ object.desc }}</p>
      <p><b class="title">Created at:</b> {{ object.created_at }}</p>
    </div>


    <button class="collapsible"><h3>{% trans "Client Data" %}</h3></button>
    <div class="content">
      <p><b class="title">Name:</b> {{ clientdata.name }}</p>
      <p><b class="title">Phone Number:</b> {{ clientdata.phone_number }}</p>
      <p><b class="title">Email:</b> {{ clientdata.email_address }}</p>
      <p><b class="title">NIF:</b> {{ clientdata.nif }}</p>
      <p><b class="title">Identity Document:</b> {{ clientdata.ident_doc }}</p>
      <p><b class="title">Link:</b> {{ clientdata.url}}</p>
    </div>

    <button class="collapsible"><h3>{% trans "House Data" %}</h3></button>
    <div class="content">
      <p><b class="title">{% trans "Name" %}:</b> {{ imoveldata.name }}</p>
      <p><b class="title">{% trans "House Type" %}:</b> {{ imoveldata.imovel_type }}</p>
      <p><b class="title">{% trans "Address" %}:</b> {{ imoveldata.address }}</p>
      <p><b class="title">{% trans "Price" %}:</b> {{ imoveldata.price }} €</p>
      <p><b class="title">{% trans "Square Footage" %}:</b> {{ imoveldata.square_footage }} M<sup>2</sup></p>
      <p><b class="title">{% trans "Number of Bedrooms" %}:</b> {{ imoveldata.bedrooms }}</p>
      <p><b class="title">{% trans "Number of Bathrooms" %}:</b> {{ imoveldata.bathrooms }}</p>
      <p><b class="title">{% trans "Description" %}:</b> {{ imoveldata.description}}</p>
    </div>


    <button class="collapsible"><h3>Documents</h3> </button>
    <div class="content">
      <a href="{% url 'crm:lead_docs_upload_view' lead.pk %}" class="btn btn-primary mb-3">Add Document</a>
    
      {% if doc_files %}
        {% for doc in doc_files %}
        <p>Download File: <a href="{{ MEDIA_URL }}{{ doc.upload }}" target="_blank">{{ MEDIA_URL }}{{ doc.upload }}</a></p>
        {% endfor %}
      {% else %}
        <p>No document found</p>
      {% endif %}
    </div>

    <button class="collapsible"><h3>Prospects</h3> </button>
    <div class="content">
      <a href="{% url 'crm:prospect_create_view' lead_id=object.id %}" class="btn btn-primary mb-3">Add Prospect</a>
    
    {% if prospects %}
      {% for prospect in prospects %}
      <p> <a href="{% url 'crm:prospect_detail_view' lead_id=object.id pk=prospect.id %}">{{prospect.short_desc}} - {{prospect.partyname}}</a>  </p>
      {% endfor %}
    {% else %}
      <p>No prospects found</p>
    {% endif %}
    </div>

    <button class="collapsible"><h3>Actions</h3> </button>
    <div class="content">
      <a href="#" class="btn btn-primary mb-3">Add Action</a>
    
    
    </div>


    <button class="collapsible"><h3>Comments</h3></button>
    <div class="content">
      
      <!-- <a class="btn btn-primary mb-3" id="commentButton" onclick="showCommentform()">Add Comment</a>  -->
      
        {% if comments %}
        {% for doc in comments %}
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
          <div>
            <p>{{ doc.comment }}</p>
          </div>
          <div>
            <p><b>{{doc.user.username}}</b></p>
          </div>
          <div>
            <p><i>{{doc.posted_at}}</i></p>
            
        </div>
      </div>
        <hr>
        {% endfor %}
      {% else %}
        <p>No comments found</p>
      {% endif %}
      <div id="commentForm" class="commentForm">
        <form  method="post"  action="{% url 'crm:lead_detail_view' pk=lead.pk %}" class="form">
          {% csrf_token %}
          <div class="row mb-3" >
            <textarea name="comment_text" id="" cols="30" rows="5" placeholder="Escreva o seu comentário..."></textarea>
          </div>
          
          <div class="row mb-3">
            <input type="submit" value="Enviar comentário" class="btn btn-primary" style="width: 150px;" name="create_comment">
          </div>
          
        </form>
      </div>

      
    </div>

</div>



{% endblock %}



{% block submenu %}
<div class="popup" id="popup">
  <h3>Partilhar Lead com:</h3>
  <form method="post" action="{% url 'crm:lead_detail_view' pk=lead.pk %}">
    {% csrf_token %}
    {{ shareform|crispy }}

    <button type="submit" class="btn btn-primary mb-3" name="share_lead">Submit</button>
  </form>
  <h3>Lead partilhada com:</h3>
  
  <table class="table">
    <tr>
      <th>Utilizador</th>
      <th>Pode Ler</th>
      <th>Pode Escrever</th>
      <th></th>
      <th></th>
    </tr>
    {% for usershared in sharelist %}
    
    <tr>
      <td>{{usershared.user.username}}</td>
      <td>
        <form method="post" action="{% url 'crm:lead_detail_view' pk=lead.pk %}">
          {% csrf_token %}
          <input type="hidden" name="share_id" value="{{ usershared.pk }}">
          <input type="checkbox" class="form-check-input" name="can_read" {% if usershared.can_read %}checked{% endif %} readonly>     
      </td>
      <td>
        <input type="checkbox" class="form-check-input" name="can_write" {% if usershared.can_write %}checked{% endif %}>
      </td>
      <td>
        <button class="btn btn-primary" type="submit" name="update_share">{% trans "Update" %}</button>
        </form>
      </td>
      <td>
        <form method="post" action="{% url 'crm:lead_detail_view' pk=lead.pk %}">
          {% csrf_token %}
          <input type="hidden" name="delete_share" value="1">
          <input type="hidden" name="share_id" value="{{ usershared.pk }}">
          <button class="btn btn-primary" type="submit">{% trans "Delete" %}</button>
        </form>
      </td>
    </tr>
    {% endfor%}
  </table>

  <script>
    window.onload = function() {
    
        var checkbox = document.getElementById('id_can_read');
        checkbox.readonly = true;
    };

    document.querySelector('input[name="can_read"]').addEventListener('click', function(event) {
        event.preventDefault();
    });
    document.querySelector('input[name="can_read"]').addEventListener('click', function(event) {
        event.preventDefault();
    });
    

    

    </script>
</div>


{% endblock %}

