{% extends base_template %}
{% block content %}

<span style=" display: inline;"><h2 class="listtitle">Lead List</h2><a href="{% url 'crm:lead_create_view' %}" class="btn btn-primary mb-3">Add Lead</a> 
    
    
    <button class="btn btn-primary mb-3">Filters</button>
    <button class="btn btn-primary mb-3">Order By</button>

    
</span>

<div style=" display: block;">
    <form method="GET">
        <label for="q">Search:</label>
        <input type="text" name="q" id="q" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>

    <a href="{% url 'crm:lead_list_view' %}?order_by=created_at">Order by Created At</a>
    
    <form method="GET">
        <label for="type">Type:</label>
        <select name="type" id="type">
            <option value="">All</option>
            <option value="1">Compra</option>
            <option value="2">Venda</option>
            <!-- Add other status options here -->
        </select>
        <button type="submit">Filter</button>
    </form>
    
    

<div id="cliente-list" class="viewlist">
    
        
    {% for lead in leadslist %}
    <div class="card">
        <div class="cardcontent">
          <a href="{% url 'crm:lead_detail_view' lead.id %}"><h4><b>{{ lead.short_name }}</b> - <b>{{ lead.leadtype }}</b></h4></a>
            <div class="cardtable">
                <p>{{ lead.district.DESIG }}</p>
                <p>{{ lead.county.DESIG }}</p>
                <p>{{ lead.locality.LOCALIDADE}}</p>
                <p>{{ lead.client }}</p>
                <p>{{ lead.owner }}</p>
                <p>{{ lead.created_at }}</p>

            </div>
        </div>
    </div>
{% endfor %}
        
       
    

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
