{% extends base_template %}
{% load crispy_forms_tags %}
{% block content %}

<h2 class="listtitle">Leads</h2>

<div class="button_tab">
   
        <form method="GET">
            <div class="row form-group">
                <div class="col-md-3">
                    <a href="{% url 'crm:lead_create_view' %}" class="btn btn-primary ">Adicionar Lead</a>
                </div>

                <form method="get" action="{% url 'crm:lead_list_view' %}">
                    <div class="col-md-3">
                        {{ lead_filter.name|as_crispy_field }}            
                    </div>
                    <div class="col-md-3">
                        {{ lead_filter.status|as_crispy_field }}            
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Apply</button>

                    </div>     
                </form>
                
                
                
                

            </div>
            
        </form>

     

      
</div>



<div id="cliente-list" class="viewlist">

{% for lead in leads %}
    <div class="card">
        <div class="cardcontent">
          <a href="{% url 'crm:lead_detail_view' lead.lead.id %}"><h4><b>{{ lead.lead.short_name }}</b> - <b>{{ lead.lead.leadtype }}</b></h4></a>
            <div class="cardtable">
                <p>{{ lead.lead.district.DESIG }}</p>
                <p>{{ lead.lead.county.DESIG }}</p>
                <p>{{ lead.lead.locality.LOCALIDADE}}</p>
                <p>{{ lead.lead.client }}</p>
                <p>{{ lead.lead.owner }}</p>
                <p>{{ lead.lead.created_at }}</p>
                <b><p>{{ lead.status }}</p></b> 

            </div>
        </div>
    </div>
{% endfor %}
        
       
    

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
