{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


<span id="notification"></span>
<h2 class="listtitle">{{ object.short_name}}</h2>
<span style="display: flex; margin-right: 20px;">
  
  <form method="post" style='padding:0px'>
    {% csrf_token %}
    <a href="{% url 'crm:lead_update_view' lead.id %}" class="btn btn-primary mb-3">{% trans "Update" %}</a>
    <a href="#" class="btn btn-primary mb-3">{% trans "Logs" %}</a>
    <button class="btn btn-primary mb-3">{% trans "Checklist" %}</button>
    <span class="btn btn-primary mb-3" id="sharebutton">{% trans "Share" %}</span> 
    {% if buttontext %}
    <button type="submit" class="btn btn-primary mb-3" name="cancel">{{ buttontext }}</button> 
    {% endif %}


      
    
 
  </form>
</span>



<div class="detailsview">
    
    
    <button class="collapsible"><h3>{% trans "Lead Data" %}</h3></button>
    <div class="content">
      <p><b class="title">License:</b> {{ object.license.customer_name}}</p>
      <p><b class="title">Owner:</b> {{ object.owner.username}}</p>
      <p><b class="title">Type:</b> {{ object.leadtype }}</p>
      <p><b class="title">Short description:</b> {{ object.short_desc }}</p>
      <p><b class="title">Description:</b> {{ object.desc }}</p>
      <p><b class="title">Created at:</b> {{ object.created_at }}</p>
    </div>


    <button class="collapsible"><h3>{% trans "Client Data" %}</h3></button>
    <div class="content">
      <p><b class="title">Name:</b> {{ clientdata.name }}</p>
      <p><b class="title">Phone Number:</b> {{ clientdata.phone_number }}</p>
      <p><b class="title">Email:</b> {{ clientdata.email_address }}</p>
      <p><b class="title">NIF:</b> {{ clientdata.nif }}</p>
      <p><b class="title">Identity Document:</b> {{ clientdata.ident_doc }}</p>
      <p><b class="title">Link:</b> {{ clientdata.url}}</p>
    </div>

    <button class="collapsible"><h3>{% trans "House Data" %}</h3></button>
    <div class="content">
      <p><b class="title">{% trans "Name" %}:</b> {{ imoveldata.name }}</p>
      <p><b class="title">{% trans "House Type" %}:</b> {{ imoveldata.imovel_type }}</p>
      <p><b class="title">{% trans "Address" %}:</b> {{ imoveldata.address }}</p>
      <p><b class="title">{% trans "Price" %}:</b> {{ imoveldata.price }} €</p>
      <p><b class="title">{% trans "Square Footage" %}:</b> {{ imoveldata.square_footage }} M<sup>2</sup></p>
      <p><b class="title">{% trans "Number of Bedrooms" %}:</b> {{ imoveldata.bedrooms }}</p>
      <p><b class="title">{% trans "Number of Bathrooms" %}:</b> {{ imoveldata.bathrooms }}</p>
      <p><b class="title">{% trans "Description" %}:</b> {{ imoveldata.description}}</p>
    </div>


    <button class="collapsible"><h3>Documents</h3> </button>
    <div class="content">
      <a href="{% url 'crm:lead_docs_upload_view' lead.pk %}" class="btn btn-primary mb-3">Add Document</a>
    
      {% if doc_files %}
        {% for doc in doc_files %}
        <p>Download File: <a href="{{ MEDIA_URL }}{{ doc.upload }}" target="_blank">{{ MEDIA_URL }}{{ doc.upload }}</a></p>
        {% endfor %}
      {% else %}
        <p>No document found</p>
      {% endif %}
    </div>

    <button class="collapsible"><h3>Prospects</h3> </button>
    <div class="content">
      <a href="#" class="btn btn-primary mb-3">Add Prospect</a>
    
    
    </div>

    <button class="collapsible"><h3>Actions</h3> </button>
    <div class="content">
      <a href="#" class="btn btn-primary mb-3">Add Action</a>
    
    
    </div>


    <button class="collapsible"><h3>Comments</h3></button>
    <div class="content">
      <a href="#" class="btn btn-primary mb-3">Add Comment</a> 
      {% if comments %}
        {% for doc in comments %}
        <p>{{ doc.comment }} - {{doc.user.username}}</a></p>
        {% endfor %}
      {% else %}
        <p>No comments found</p>
      {% endif %}
    </div>

</div>





<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });

}

let triggerButton = document.getElementById('sharebutton');
function pop() {
  if(popup.style.display === 'none'){
    popup.style.display = 'block';
    overlay.style.display = 'block';
    console.log('hello')
  }
  else{
    popup.style.display = 'none';
    overlay.style.display = 'none';
    console.log('helloooo')
  }
    
}

triggerButton.addEventListener('click', pop);

</script>

{% endblock %}



{% block submenu %}

<div class="popup" id="popup">
  <h3>Partilhar Lead com:</h3>
  <form method="post" action="{% url 'crm:lead_detail_view' pk=lead.pk %}">
    {% csrf_token %}
    {{ shareform|crispy }}
    <button type="submit" class="btn btn-primary mb-3" name="share_lead">Submit</button>

  </form>
  <h3>Lead partilhada com:</h3>
</div>

{% endblock %}