{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    <a class="btn btn-secondary" href="#" onclick="history.back(); return false;">{% trans "Cancel" %}</a>
    {% if update_template %}
        <a class="btn btn-secondary" href="{% url 'imovel:imovel_docs_upload_view' pk=imovel.pk %}">{% trans "Upload photos" %}</a>
    {% endif %}
</form>
{% endblock content %}