{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">{% trans "Submit" %}</button>
    <a class="btn btn-size base-but btn-sm mt-1 mb-1" href="{% url 'imovel:imovel_list' %}">{% trans "Cancel" %}</a>
</form>
{% endblock content %}