{% extends base_template %}
{% load crispy_forms_tags %}
{# stuff #}
{% load i18n %}
{% load allauth %}
{% block content %}

<div>
    <span style="display: flex; ">
    
        <h2 class="listtitle">Imovel List</h2>
        <a href="{% url 'imovel:imovel_create' %}" class="btn btn-primary mb-3">Add Imovel</a> 
        <button class="btn btn-primary mb-3">Filters</button>
        <button class="btn btn-primary mb-3">Order By</button>
    </span>

    <form action="{% url 'imovel:imovel_list' %}" method="get">
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <div id="cimovel-list" class="viewlist">
           
        {% for imovel in imoveis %}
            <div class="card">
                <div class="cardcontent">
                  <a href="{% url 'imovel:imovel_detail' imovel.id %}"><h4><b>{{ imovel.name }}</b></h4></a>
                    <div class="cardtable">
                        <p>{{ imovel.price }}</p>
                        <p>{{ imovel.square_footage }}</p>
                        <a href="{% url 'imovel:imovel_update' imovel.id %}">EDIT </a>
    

                    </div>
                </div>
            </div>
        {% endfor %}
 
    </div>

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
