{% extends base_template %}
{% block content %}
<div id="imovel-list" class="py-5">
    <div class="mt-5">
        <h2 class="mb-3">Imovel List</h2>
        <a href="{% url 'imovel:imovel_create' %}" class="btn btn-primary mb-3">Add Imovel</a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>username</th>
                        <th>price</th>
                        <th>square_footage</th>
                        <th>view</th>
                        <th>edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for imovel in imoveis %}
                    <tr>
                        <td>
                            <img class="rounded-circle article-svg" src="#">
                        </td>
                        <td>
                            {{ imovel.name }}
                        </td>
                        <td>
                            {{ imovel.price }}
                        </td>
                        <td>
                            {{ imovel.square_footage }}
                        </td>
                        <td>
                            <a href="{% url 'imovel:imovel_detail' imovel.id %}" hx-get="{% url 'imovel:imovel_detail' imovel.id %}" hx-target="#imovel-list"
                                hx-swap="outerHTML">VIEW</a>
                        </td>
                        <!-- <td>
                            <a href="#" hx-get="#" hx-target="#imovel-list" hx-swap="outerHTML">VIEW</a>
                        </td> -->
                        <td>
                            <a href="{% url 'imovel:imovel_update' imovel.id %}">EDIT </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No files uploaded yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
