{% extends base_template %}
{% block content %}

<span style="display: flex; "><h2 class="listtitle">Imovel List</h2><a href="{% url 'imovel:imovel_create' %}" class="btn btn-primary mb-3">Add Imovel</a> 
    <button class="btn btn-primary mb-3">Filters</button>
    <button class="btn btn-primary mb-3">Order By</button></span>


    <div id="cimovel-list" class="viewlist">
    
        
        <!--<a href="{% url 'crm:client_create_view' %}" hx-get="{% url 'crm:client_create_view' %}" hx-target="#cliente-list"
            hx-swap="outerHTML" class="btn btn-primary mb-3">Add Client</a>-->
        
       
        {% for imovel in imoveis %}
            <div class="card">
                <div class="cardcontent">
                  <a href="{% url 'imovel:imovel_detail' imovel.id %}"><h4><b>{{ imovel.name }}</b></h4></a>
                    <div class="cardtable">
                        <p>{{ imovel.price }}</p>
                        <p>{{ imovel.square_footage }}</p>
                        <a href="{% url 'imovel:imovel_update' imovel.id %}">EDIT </a>
    

                    </div>
                </div>
            </div>
        {% endfor %}






        
    </div>

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
