{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include '_head.html' %}
    <!-- Add the meta viewport tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add the Bootstrap CDN links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="#" type="image/png" sizes="16x16">
    <style>
        #div_id_password {
            position: relative;
        }
    
        .password-toggle {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div> 
        {% include '_alert.html' %}
        <div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
            <div class="w-100" style="max-width: 500px;">
                <form method="POST" class="bg-white shadow rounded px-5 py-4 mb-4">
                    <div class="text-center">
                        <img style="padding-bottom: 10px;" src="{% static 'img/logo-hpdrones-cor.webp' %}" alt="HPDrones" width="200px"></img>
                        {% trans "LiveStreaming" %}
                    </div>
                    {% csrf_token %}
                    <fieldset>
                        {{ form|crispy }}
                        
                    </fieldset>
                    <div class="mt-4">
                        <!-- Use the Bootstrap button classes -->
                        <button class="btn btn-danger btn-block py-2" type="submit">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
            var divPassword = document.getElementById('div_id_password');
    
            var passwordToggleSpan = document.createElement('span');
            passwordToggleSpan.className = 'password-toggle';
            passwordToggleSpan.innerHTML = '<i class="fas fa-eye"></i>';
            passwordToggleSpan.onclick = function () {
                togglePasswordVisibility('id_password');
            };
    
            divPassword.appendChild(passwordToggleSpan);
        });
    
        function togglePasswordVisibility(fieldId) {
            var passwordField = document.getElementById(fieldId);
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }
    </script>
    
    
</body>
</html>