{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% block content %}
<form method="POST" enctype="multipart/form-data" hx-post="{% url 'account_change_password' %}" hx-swap="outerHTML" hx-redirect="{% url 'users:profile' %}" class="mb-3">
    {% csrf_token %}
    <fieldset class="border-bottom pb-3 mb-3">
        <legend class="fs-4 fw-bold">{% trans "Change Password" %}</legend>
        <div class="row g-3">
            <div class="col-12">
                {{ form|crispy }}
            </div>
        </div>
    </fieldset>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary fw-bold py-2 px-4 rounded" type="submit">{% trans "Change Password" %}</button>
    </div>
</form>
{% endblock content %}
