{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-5">
        <fieldset>
            <legend class="mb-3">{% trans "Change Password" %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="mt-3">
            <button type="submit" class="btn btn-danger">{% trans "Change Password" %}</button>
        </div>
    </div>
</form>
{% endblock content %}
