{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <h3 class="text-center mb-4">Create User</h3>
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-danger btn-block mt-3">{% trans "Sign Up" %}</button>
                        <a class="btn btn-size base-but btn-sm mt-1 mb-1" href="{% url 'users:users_list' %}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $('#div_id_team_leader').hide(); // Oculta o campo team_leader inicialmente
        console.log('hello')
    
        $('#id_role').change(function(){
            var valueSelected = $('#id_role').val(); // Obtém o valor selecionado do campo role
    
            if (valueSelected === '2') { // Verifica se o valor selecionado é 'consultor'
                console.log('goodbye')
                $('#div_id_team_leader').show(); // Mostra o campo team_leader se o role for 'consultor'
            } else {
                console.log('fu')
                $('#div_id_team_leader').hide(); // Oculta o campo team_leader para outros roles
            }
        });
    });
</script>
{% endblock content %}
