{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% block content %}

<h3>Criar Utilizador</h3>
            <div class="formview">
                <div class="createforms">
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                        <a class="btn btn-secondary" href="{% url 'users:users_list' %}">Cancelar</a>
                    </form>
                </div>
            </div>


<script>
    $(document).ready(function() {
        $('#div_id_team_leader').hide();
    
        $('#id_role').change(function(){
            var valueSelected = $('#id_role  option:selected').text();
    
            if (valueSelected === 'consultor') { 
                $('#div_id_team_leader').show();
            } else {
                $('#div_id_team_leader').hide();
            }
        });
    });
</script>
{% endblock content %}
