[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
django-bootstrap-v5 = "*"
crispy-bootstrap5 = "*"
django-tables2 = "*"
django-allauth = "*"
pillow = "*"
QAddress = {file = "packages/QAddress-0.0.1.tar.gz"}
QDocs = {file = "packages/QDocs-0.0.1.tar.gz"}
QMessages = {file = "packages/QMessages-0.0.1.tar.gz"}
QAjaxMiddleware = {file = "packages/QAjaxMiddleware-0.0.1.tar.gz"}
django-filter = "*"
gunicorn = "*"

[dev-packages]
django-extensions = "*"
graphviz = "*"
pydotplus = "*"
pipdeptree = "*"

[requires]
python_version = "3.11"
