{% extends base_template %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}




<div class="filter">
    <form action="{% url 'users:users_list' %}" method="get">
            {{ user_filter.user__username|as_crispy_field }}
            {{ user_filter.user__role|as_crispy_field }}
            {% if request.user.is_admin %}
                {{ user_filter.user_leaders|as_crispy_field }}
                {{ user_filter.user__is_active|as_crispy_field }}
            {% endif %}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>


<div id="cliente-list" class="viewlist">

{% for u in users %}
    <div class="card">
        <div class="cardcontent">
          <a href="{% url 'users:profile_detail' u.user.id %}"><h4><b>{{ u.user.username }}  [{{ u.user.role }}]</b></h4></a>
            <div class="cardtable">
                <img class="rounded-circle" style="height: 54px;" src="{{ u.profile_pic }}">
                <p>{{ u.user.email }}</p>
                {% if u.user_leader %}
                    <p>Chefe Equipa: {{ u.user_leader }}</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endfor %}


    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
