{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}
{% block content %}
<script>
    $(document).ready(function() {
        $('#div_id_team_leader').hide(); // Oculta o campo team_leader inicialmente
        console.log('hello')
    
        $('#id_role').change(function(){
            var valueSelected = $('#id_role').val(); // Obtém o valor selecionado do campo role
    
            if (valueSelected === '3') { // Verifica se o valor selecionado é 'consultor'
                console.log('goodbye')
                $('#div_id_team_leader').show(); // Mostra o campo team_leader se o role for 'consultor'
            } else {
                console.log('fu')
                $('#div_id_team_leader').hide(); // Oculta o campo team_leader para outros roles
            }
        });
    });
</script>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">{% trans "Sign Up" %}</button>
    <a class="btn btn-size base-but btn-sm mt-1 mb-1" href="{% url 'users:users_list' %}">Cancelar</a>
</form>
{% endblock content %} 