{% extends base_template %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}




<div class="button_tab">
    <h2 class="mb-3">Equipa</h2>
    <div>
        <form action="{% url 'users:users_list' %}" method="get">
            <div class="row form-group">

                {% if request.user.is_admin %}
                    <div class="col-md-2">
                        <a href="{% url 'users:account_signup' %}" class="btn btn-primary">Adicionar Utilizador</a>
                    </div>
                    <div class="col-md-3">
                        {{ user_filter.user_leaders|as_crispy_field }}
                    </div>
                    <div class="col-md-1">
                        {{ user_filter.user__is_active|as_crispy_field }}
                    </div>
                    {% endif %}
                    <div class="col-md-3">
                        {{ user_filter.user__username|as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        {{ user_filter.user__role|as_crispy_field }}
                    </div>
                    <div class="col-md-1">
                        <input type="submit" value="Procurar" class="btn btn-primary md-3">
                    </div>
            </div>        
        </form>
    </div>
</div>


<div id="cliente-list" class="viewlist">
<!-- <div class="row"> -->


{% for u in users %}
<!-- <div class="col-md-6"> -->
    <div class="card">
        <div class="cardcontent">
          <a href="{% url 'users:profile_detail' u.user.id %}"><h4><b>{{ u.user.username }}  [{{ u.user.role }}]</b></h4></a>
            <div class="cardtable">
                <img class="rounded-circle" style="height: 54px;" src="{{ u.profile_pic }}">
                <p>{{u.user.profile.full_name}} <br>
                    {{ u.user.email }}</p>
              
                {% if u.user_leader %}
                    <p><b>Chefe Equipa:</b> {{ u.user_leader }}</p>
                {% endif %}

            </div>
        </div>
    </div>
<!-- </div> -->
    
{% endfor %}
<!-- </div> -->


    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}
