
.sidenav {
  height: 100svh;
  width: 200px;
  position: fixed;
  top: 0;
  left: -125px;
  background-color: #FF8647;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 125px;
  z-index: 999;
}

.sideover{
z-index: 999;
}

.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}



.sidenav .closebtn {
  font-size: 20px;
  color: aliceblue;
}

.sidenavgrid{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 20px;
}


.icons{
fill: #ffffff;
transition: 0.3s;

}
.link a{
width: 93%;
display: flex;
justify-content: space-between;
}

.link:hover a{

color: #000000;
}

.icon {
filter: invert(100%); /* Rotate the hue by 180 degrees, changing the color */
width: 36px;
transition: 0.3s;
}

.link:hover .icon{
filter: invert(0%);


}

.options{
margin-top: 100%;
}

.footer{
position: fixed;
bottom: 0px;
}

