/* 
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */


  :root {
    --primary: #ffffff;
    --secondary: #FF8647;
    --terciary:#FF7C00;
    --backcolor:#e6e6e6;
    --maintextcolor:#3f3f3f;
    --bodytext:#000000;
  }



  html, body {
    height: 100svh;
    margin: 0;
    padding: 0;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

body {
    background-color: var(--backcolor) !important;
    width: 100%;
}



.containermain {
  width: 85%;
  height: 80%;
  position: fixed;
  top: 15%;
  left: 10%;
  overflow-y: auto;
  padding: 20px;
 

  
  /* background-color: #FF8647; */

}

.createforms{
  display: flex;
  justify-content: center;
}

.containermain .btn-primary{
 
 background-color: var(--secondary);
 border-color: var(--terciary);
 border-radius: 20px;

}

.containermain .btn-primary:hover{
 
  background-color: var(--primary);
  border-color: var(--terciary);
  color: var(--secondary);
 
 }

 .containermain .btn-secondary{
  border-radius: 20px;
 
 }


.containermain form{
  width: 85%;
  padding: 20px;
  /* margin-top: 10%; */
  margin-bottom: auto;
  /* background-color: #FF8647; */

}

.containermain form input{
  border-radius: 20px;
  /* width: 85%; */
  /* background-color: #FF8647; */

}

/*  styles for homepage  */

.container1 {
  width: 85%;
  height: 80%;
  position: fixed;
  top: 15%;
  left: 10%;
  display: grid;
  column-gap:4%;
  grid-template-columns: 30% 30% 30%;


}

.grid1{

  overflow-y:auto ;
  text-wrap:balance;
  margin: auto;
  margin-top: 0px;

}



.grid3{

  overflow-y:auto ;
  text-wrap:balance;
  margin: auto;
  margin-top: 0px;

}

.grid3 h1{
  color: var(--maintextcolor);
  font-size: 35px;

}

.grid2{
  margin: auto;
  margin-top: 0px;
  overflow-y:hidden ;
  text-wrap:balance;
  border-radius: 20px;
  height: 100%;
  width: 90%;
  
}

.grid2 h1{
  color: var(--maintextcolor);
  font-size: 35px;


}
.today{
  overflow-y:auto;
  border-radius: 20px;
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-bottom: 70px;

}

.leadfilters{
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 30px;

}

.addmenu{
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 30px;

}

.boxfilter{
  padding: 10px;
  background-color: var(--primary);
  border-radius: 20px;
  width: 150px;
  height: 100px;
  transition: 0.3s;
  color: var(--bodytext);
  

}
.addmenu a{
  text-decoration: none;
}

.boxfilter:hover{
  padding: 10px;
  background-color: var(--secondary);
  color: var(--primary);

}

.notifurg{
  padding: 10px;
  background-color: var(--primary) !important;
  border-radius: 20px;
  max-width: 95%;
  height: 100px;
  transition: 0.3s;
}

.notifurg a{
  color: var(--terciary);
  text-decoration: underline;
  transition: 0.5s;
}

.notifurg a:hover{
  color: var(--bodytext);
  text-decoration: underline;
}

h1 img{
  width: 45px;
}


/* Lists  */


.listtitle{
  padding-right: 20px;
  color: var(--maintextcolor);
}

.viewlist{
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}


.card{

  width: 70%;
  margin-left: auto;
  margin-right: auto;

}


.cardcontent{
  padding: 20px;
  width: 100%;

}

.cardtable{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}



/*  scrollbar  */ 

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 90%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f180;
  border-radius: 10px;
  padding-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--terciary);
  border-radius: 10px;
  height: 20px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}