{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block content%}
<div class="container1">
      
    <div class="grid3">


      
      <h1>
        <img src="{% static 'images/table_color.png' %}" alt=""> Leads (0)
      </h1>

      <div class="leadfilters">
        <div class="boxfilter"><h4>Compra <br><br> <span style="left: 70%; position: relative;">(0)</span></h4></div>
        <div class="boxfilter"><h4>Venda <br><br> <span style="left: 70%; position: relative;">(0)</span></h4></div>
        <div class="boxfilter"><h4>Aberto <br><br> <span style="left: 70%; position: relative;">(0)</span></h4></div>
        <div class="boxfilter"><h4>Em Progresso <br><br> <span style="left: 70%; position: relative;">(0)</span></h4></div>
        <div class="boxfilter"><h4>Fechado <br><br> <span style="left: 70%; position: relative;">(0)</span></h4></div>
        <div class="boxfilter"><h4>Pendente <br><br><span style="left: 70%; position: relative;">(0)</span></h4></div>
        <div class="boxfilter"><h4>Cancelado <br><br> <span style="left: 70%; position: relative;">(0)</span></h4></div>
        
      </div>

    </div>
    <div class="grid2">
      <h1><img src="{% static 'images/calendar-color.png' %}" alt=""> Hoje</h1>
      <div class=today>
        <div class="today">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a maximus mauris, et
          ultricies justo. Donec sapien nisl, tempus a ultrices sed, condimentum in est. Aliquam erat volutpat. 
          Curabitur ac urna massa. Duis et efficitur felis, id pharetra neque. Sed in justo vel lectus aliquam hendrerit. 
          Proin at porttitor lorem. Proin dignissim nibh quam, sit amet imperdiet tortor finibus malesuada. Suspendisse nibh mi, lobortis ac cursus 
          vitae, sollicitudin id mauris. Integer consequat, n
         ulla ac tristique dapibus, sapien tortor auctor neque, sed rutrum risus quam vitae libero.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a maximus mauris, et
          ultricies justo. Donec sapien nisl, tempus a ultrices sed, condimentum in est. Aliquam erat volutpat. 
          Curabitur ac urna massa. Duis et efficitur felis, id pharetra neque. Sed in justo vel lectus aliquam hendrerit. 
          Proin at porttitor lorem. Proin dignissim nibh quam, sit amet imperdiet tortor finibus malesuada. Suspendisse nibh mi, lobortis ac cursus 
          vitae, sollicitudin id mauris. Integer consequat, n
         ulla ac tristique dapibus, sapien tortor auctor neque, sed rutrum risus quam vitae libero.

       

        </div>
       </div>
     
    </div>
    <div class="grid3">
      
        <h1><img src="{% static 'images/urgent-color.png' %}" alt=""> Urgente</h1>
        <div class="notifurg">
          <div style="overflow-y: scroll; height: 50%; ">
            <a href="#">Notificaçao Urgente</a><br>
            <a href="#">Notificaçao Urgente</a><br>
            <a href="#">Notificaçao Urgente</a><br>
       

          </div>
          
        </div>
      

      <h1>
        <img src="{% static 'images/plus-color.png' %}" alt=""> Adicionar
      </h1>
      <div class="addmenu">
        <div>
          <a href="{% url 'crm:lead_create_view' %}">
            <div class="boxfilter">
              <h3>Lead</h3> 
              <img src="{% static 'images/table_icon.png' %}" style="height: 35px; left: 70%; position: relative;" alt="">
              
            </div>
          </a>
        </div>
        
        <div>
          <div class="boxfilter">
            <h3>Ação</h3>
            <img src="{% static 'images/calendar.png' %}" style="height: 30px; left: 70%; position: relative;" alt="">
          </div>
        </div>

        <div>
          <a href="{% url 'crm:client_create_view' %}">
            <div class="boxfilter">
              <h3>Cliente</h3> 
              <img src="{% static 'images/client.png' %}" style="height: 35px; left: 70%; position: relative;" alt="">
            </div>
          </a>
        </div>

        <div>
          <a href="{% url 'imovel:imovel_create' %}">
            <div class="boxfilter">
              <h3>Imóvel</h3>
              <img src="{% static 'images/house.png' %}" style="height: 30px; left: 70%; position: relative;" alt="">
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
{% endblock content%}