{% extends base_template %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}


<h3>Criar Prospect</h3>
<div class="formview">
<div class="createforms">
    <form method="post">
        {% csrf_token %}
        
      
          {{ form|crispy }}
        
        <button class="btn btn-primary" type="submit" value="">{% trans "Create" %}</button>
        <a class="btn btn-secondary"  href="#" onclick="history.back(); return false;">{% trans "Cancel" %}</a>
  
        
    </form>


</div>
</div>

<script>


  $(document).ready(function(){
    $('#id_district').change(function(){
        var districtId = $(this).val();
        if(districtId){
            $.ajax({
                url: '/crm/get_counties/',  
                type: 'GET',
                data: {'district_id': districtId},
                success: function(data){
                    $('#id_county').empty();
                    $.each(data, function(key, value){
                        $('#id_county').append('<option value="'+key+'">'+value+'</option>');
                    });
                }
            });
        }else{
            $('#id_county').empty();
        }
    });
});

// $(document).ready(function(){
//     $('#id_county').change(function(){  
//         var countyId = $(this).val();  
//         if(countyId){
//             $.ajax({
//                 url: '/crm/get_localities/', 
//                 type: 'GET',
//                 data: {'county_id': countyId}, 
//                 success: function(data){
//                     $('#id_locality').empty();
//                     $.each(data, function(key, value){
//                         $('#id_locality').append('<option value="'+key+'">'+value+'</option>');
//                     });
//                 }
//             });
//         }else{
//             $('#id_locality').empty();
//         }
//     });
// });

$(document).ready(function(){
    // Function to fetch district, county, locality based on postal code
    $('#validate').click(function(){
        var postalCodePart1 = $('#id_postal_code1').val();
        var postalCodePart2 = $('#id_postal_code2').val();
        var postalCode = postalCodePart1 + postalCodePart2; // Concatenate the two parts
        if(postalCode){
            $.ajax({
                url: '/crm/get_address_info/',  
                type: 'GET',
                data: {
                    'postal_code': postalCode,
                    'code1': postalCodePart1,
                    'code2': postalCodePart2
                },
                success: function(data){
                    // Assuming data contains district, county, locality, and street information
                    $('#id_district').val(data.district);
                    $('#id_county').val(data.county);
                    $('#id_locality').val(data.locality);
                    $('#id_street').val(data.street);
                }
            });
        }
    });
});
</script>

{% endblock %}