{% load static %}
{% load i18n %}

<!-- Logout Modal -->

<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logoutModalLabel">{% trans "Logout" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans "Are you sure you want to logout?" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <form action="/accounts/logout/" method="post">
          {% csrf_token %}
          <button  type="submit" class="btn btn-primary">
            {% trans "Logout" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>