{% load static %}
{% load i18n %}



<div class="topnav">
    <img src="{% static 'images/qimob_logo2.png' %}" alt="" width="100px" onclick="openNav()">
    <a  href="{% url 'users:home' %}">{% trans "Home" %}</a>

    <div class="topmenu"> 

      <form >
        {% csrf_token %}
        <input type="text" class="searchbar" placeholder="Search..">
        <input type="submit" class="btn btn-primary">
      </form>

      <a href="#notif"><img src="{% static 'images/bell.png' %}" alt=""></a>
      <a href="#messages"><img src="{% static 'images/mail.png' %}" alt=""></a>

      <div class="dropdown">

        <button class="dropbtn"><img src="{% static 'images/client.png' %}" alt=""></button>
        <div class="dropdown-content">
          <a href="{% url 'users:profile' %}">Perfil</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
        </div>

      </div>

    </div>
    
  </div>