{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ base_url }}?page=1" hx-get="{{ base_url }}?page=1" hx-target="#reload" hx-swap="outerHTML">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ base_url }}?page={{ page_obj.previous_page_number }}" hx-get="{{ base_url }}?page={{ page_obj.previous_page_number }}" hx-target="#reload" hx-swap="outerHTML">Previous</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ base_url }}?page={{ page_obj.next_page_number }}" hx-get="{{ base_url }}?page={{ page_obj.next_page_number }}" hx-target="#reload" hx-swap="outerHTML">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ base_url }}?page={{ page_obj.paginator.num_pages }}" hx-get="{{ base_url }}?page={{ page_obj.paginator.num_pages }}" hx-target="#reload" hx-swap="outerHTML">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
