{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base_sidebar.css' %}">

<div id="mySidenav" class="sidenav">
  <div class="sideover">

    <div class="link" onclick="openNav()">
      <a href="#" >
        Fechar
        <img class="icon_spin" id="arrow" src="{% static 'images/arrow.png' %}" alt="Table Icon">
      </a>
    </div>
    
    <div class="link" style="border-top: 1px white solid;">
      <a href="#" >
        Agenda 
        <img class="icon" src="{% static 'images/calendar.png' %}" alt="Table Icon">
      </a>
    </div>
      
        
    <div class="link">
      <a href="{% url 'crm:lead_list_view' %}">Leads
        <img class="icon" src="{% static 'images/table_icon.png' %}" alt="Table Icon">
      </a>
      </div>
    
    <div class="link">
        <a href="{% url 'imovel:imovel_list' %}">Imóveis
          <img class="icon" src="{% static 'images/house.png' %}" alt="Table Icon">
     </a>
    </div>
    
    <div class="link">
      <a href="{% url 'crm:client_list_view' %}">Clientes
        <img class="icon" src="{% static 'images/client.png' %}" alt="Table Icon">
      </a>
    </div>
  
    <div class="link" style="border-top: 1px white solid;">
      <a href="{% url 'users:users_list' %}">Equipa
        <img class="icon" src="{% static 'images/team.png' %}" alt="Table Icon">
      </a>
    </div>

    <div class="link" >
      <a href="#">Opções
        
        <img class="icon" src="{% static 'images/settings.png' %}" alt="Table Icon">
      </a>
    </div>
  </div>
    


    <div class=" footer" id="footer">
   
      <a href="https://qloudyx.pt" target="_blank" style="font-size: 12px; text-align: center;">
        V. 24.03.01
        <br>
        &copy; {% now "Y" %}, eXcellerated by qloudyx.
      </a>
    </div>

</div>

