{% extends base_template %}
{% block content %}
<div id="cliente-list" class="py-5">
    <div class="mt-5">
      <h2 class="mb-3">Cliente List</h2>
      <ul class="list-group">
          <!-- Header -->
          <li class="list-group-item d-flex justify-content-between">
              <strong>Name</strong>
              <strong>Docs</strong>
          </li>
          <!-- Documents -->
          {% for cliente in clientes %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="#">{{ cliente.name }}</a>
                  <a href="{% url 'cliente:clientedocs_listview' pk=cliente.pk %}" hx-get="{% url 'cliente:clientedocs_listview' pk=cliente.pk %}" hx-target="#cliente-list" hx-swap="outerHTML">Docs</a> 
                </li>
          {% empty %}
              <li class="list-group-item">No files uploaded yet.</li>
          {% endfor %}
      </ul>
    </div>

    <!-- Pagination -->
    {% include '_pagination.html' %}
</div>
{% endblock %}