{% extends base_template %}
{% block content %}
<div id="cliente-create" class="col-md-6">
  {% include '_alert.html' %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Client Creation</h5>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" hx-post="{% url 'cliente:cliente_create' %}" hx-target="#cliente-create" hx-swap="outerHTML">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}