{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content%}
    {% include '_alert.html' %}
    <form method="POST" enctype="multipart/form-data" hx-post="{% url 'users:profile' %}" hx-swap="outerHTML" class="space-y-6">
        {% csrf_token %}
        <div class="flex items-center space-x-4">
            {% if user.profile.image %}
                <img class="rounded-full w-24 h-24 object-cover" x-data="{src: '{{ user.profile.image.url }}'}" :src="src">
            {% else %}
                <img class="rounded-full w-24 h-24 object-cover" x-data="" :src="src">
            {% endif %}
            
            <div>
                <h2 class="text-2xl font-bold">{{ user.username }}</h2>
                <p class="text-gray-500">{{ user.email }}</p>
                {{ p_form.image }}
            </div>
        </div>
        <fieldset class="border-b pb-4 mb-4">
            <legend>{% trans "Profile Info" %}</legend>
            <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1 space-y-6">
                    {{ u_form.email|as_crispy_field }}
                    {{ u_form.username|as_crispy_field }}
                    {{ p_form.full_name|as_crispy_field }}
                </div>
                <div class="col-span-2">
                    {{ p_form.about|as_crispy_field }}
                </div>
            </div>
        </fieldset>
        <div class="flex justify-end">
            <button class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">{% trans "Update" %}</button>
            <a href="{% url 'account_change_password' %}" hx-get="{% url 'account_change_password' %}" hx-swap="outerHTML" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-4">{% trans "Change Password" %}</a>
        </div>
    </form>
    <script>
        setTimeout(function() {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach((alert) => {
                alert.style.display = 'none';
            });
        }, 2000);
    </script>
{% endblock content%}
